# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/

# Raw extracted data
data/raw/*.json



# Keep the raw directory structure
!data/
!data/raw/
!data/raw/.gitkeep